<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout" lang="en">

	<head>
	    <title th:text="#{screen.success.header}"></title>
	    <meta id="springViewName" name="dcterms.identifier" content="expired-password-confirmation" />
	</head>
	
	<body id="cas">
		<main layout:fragment="content">
			<div class="phase-banner-beta"  th:if=${@extractPhaseAction.getPhase()=="TEST"}>
				<p>
					<strong class="phase-tag" th:text="${@extractPhaseAction.getPhase()}"></strong> <span
						th:text="#{'screen.welcome.applicationphase.' + ${@extractPhaseAction.getPhase()}}"></span>
				</p>
			</div>		
		    <div class="alert alert-success">	       
		        <p id= "successmessage" class="heading-medium" th:utext="#{screen.pm.success.message}"/>
			</div> 
		    <form method="post" id="form" class="fm-v clearfix">
		         <div class="form-group">			           
			         <p>
			        	<span th:utext="#{screen.pm.button.continue}" />
			         </p>
			     </div>
		    </form>
		 </main>           
	</body>
</html>