<?xml version="1.0" encoding="UTF-8"?>
<!--
## Licensed to the Apache Software Foundation (ASF) under one or more
## contributor license agreements.  See the NOTICE file distributed with
## this work for additional information regarding copyright ownership.
## The ASF licenses this file to You under the Apache License, Version 2.0
## (the "License"); you may not use this file except in compliance with
## the License.  You may obtain a copy of the License at
## 
## http://www.apache.org/licenses/LICENSE-2.0
## 
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.

# The logging properties used during tests
-->

<Configuration status="info">
  <Properties>
    <!-- Add %logger{36} to see what class the log message came from -->
    <Property name="messagePattern">%d{dd MMM yyyy HH:mm:ss,SSS} [%5p] [%t] (%F:%L) - %m%n</Property>
  </Properties>

  <Appenders>
    <Console name="console">
      <PatternLayout pattern="${messagePattern}"/>
    </Console>

    <RollingFile name="file" append="true" immediateFlush="true"
      fileName="${sys:catalina.home}/logs/NdsBeisEsb.log" 
      filePattern="${sys:catalina.home}/logs/NdsBeisEsb.%i.log">
      <PatternLayout pattern="${messagePattern}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="100"/>
    </RollingFile>

    <Rewrite name="rewriteMessage">
      <MessageFilterRewritePolicy />
      <AppenderRef ref="console" />
      <AppenderRef ref="file" />
    </Rewrite>
  </Appenders>

  <Loggers>
    <Logger name="org.apache.camel.component.mock" />
    <Logger name="com.northgateps" />
    <Logger name="com.northgateps.nds.platform.loggingsystem.NdsLoggingSystem" level="info" />
    <Logger name="org.apache.camel" />
    <Logger name="org.apache.cxf" />
    <Logger name="org.springframework.web.servlet.mvc" />
    
    <Root level="info">
      <AppenderRef ref="rewriteMessage" />
    </Root>
  </Loggers>
</Configuration>
