@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

@font-face {
	font-family: GDS-Logo;
	src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"),
		local("Helvetica")
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

.example-highlight-grid .grid-row {
	background: #bfc1c3
}

.example-highlight-grid .column-highlight {
	background: #dee0e2;
	width: 100%
}

.example-back-link {
	display: -moz-inline-stack;
	display: inline-block;
	margin-top: 30px
}

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0
}

.js-enabled .js-hidden {
	display: none
}

div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
	address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
	ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
	thead, tr, th, td, article, aside, canvas, details, embed, figure,
	figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
	summary, time, mark {
	border: none;
	margin: 0;
	padding: 0
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, small, strike, strong, sub,
	sup, tt, var, b, u, i, center, input, textarea, table, caption, tbody,
	tfoot, thead, tr, th, td {
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	font-weight: normal
}

@font-face {
	font-family: GDS-Logo;
	src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"),
		local("Helvetica")
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

main {
	font-family: "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none;
	-webkit-font-smoothing: antialiased
}

@media ( max-width : 640px) {
	main {
		font-size: 16px;
		line-height: 1.25
	}
}

.font-xxlarge {
	font-family: "nta", Arial, sans-serif;
	font-size: 80px;
	line-height: 1;
	font-weight: 400;
	text-transform: none
}

@media ( max-width : 640px) {
	.font-xxlarge {
		font-size: 53px;
		line-height: 1.03774
	}
}

.font-xlarge {
	font-family: "nta", Arial, sans-serif;
	font-size: 48px;
	line-height: 1.04167;
	font-weight: 400;
	text-transform: none
}

@media ( max-width : 640px) {
	.font-xlarge {
		font-size: 32px;
		line-height: 1.09375
	}
}

.font-large {
	font-family: "nta", Arial, sans-serif;
	font-size: 36px;
	line-height: 1.11111;
	font-weight: 400;
	text-transform: none
}

@media ( max-width : 640px) {
	.font-large {
		font-size: 24px;
		line-height: 1.04167
	}
}

.font-medium {
	font-family: "nta", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none
}

@media ( max-width : 640px) {
	.font-medium {
		font-size: 18px;
		line-height: 1.2
	}
}

.font-small {
	font-family: "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none
}

@media ( max-width : 640px) {
	.font-small {
		font-size: 16px;
		line-height: 1.25
	}
}

.font-xsmall {
	font-family: "nta", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none
}

@media ( max-width : 640px) {
	.font-xsmall {
		font-size: 14px;
		line-height: 1.14286
	}
}

.bold-xxlarge {
	font-family: "nta", Arial, sans-serif;
	font-size: 80px;
	line-height: 1;
	font-weight: 700;
	text-transform: none
}

@media ( max-width : 640px) {
	.bold-xxlarge {
		font-size: 53px;
		line-height: 1.03774
	}
}

.bold-xlarge {
	font-family: "nta", Arial, sans-serif;
	font-size: 48px;
	line-height: 1.04167;
	font-weight: 700;
	text-transform: none
}

@media ( max-width : 640px) {
	.bold-xlarge {
		font-size: 32px;
		line-height: 1.09375
	}
}

.bold-large {
	font-family: "nta", Arial, sans-serif;
	font-size: 36px;
	line-height: 1.11111;
	font-weight: 700;
	text-transform: none
}

@media ( max-width : 640px) {
	.bold-large {
		font-size: 24px;
		line-height: 1.04167
	}
}

.bold-medium {
	font-family: "nta", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.25;
	font-weight: 700;
	text-transform: none
}

@media ( max-width : 640px) {
	.bold-medium {
		font-size: 18px;
		line-height: 1.2
	}
}

.bold-small {
	font-family: "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.31579;
	font-weight: 700;
	text-transform: none
}

@media ( max-width : 640px) {
	.bold-small {
		font-size: 16px;
		line-height: 1.25
	}
}

.bold-xsmall {
	font-family: "nta", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 700;
	text-transform: none
}

@media ( max-width : 640px) {
	.bold-xsmall {
		font-size: 14px;
		line-height: 1.14286
	}
}

.heading-xlarge {
	font-family: "nta", Arial, sans-serif;
	font-size: 48px;
	line-height: 1.04167;
	font-weight: 700;
	text-transform: none;
	margin-top: 0.46875em;
	margin-bottom: 0.9375em
}

@media ( max-width : 640px) {
	.heading-xlarge {
		font-size: 32px;
		line-height: 1.09375
	}
}

@media ( min-width : 641px) {
	.heading-xlarge {
		margin-top: 0.625em;
		margin-bottom: 1.25em
	}
}

.heading-xlarge .heading-secondary {
	font-family: "nta", Arial, sans-serif;
	font-size: 27px;
	line-height: 1.11111;
	font-weight: 400;
	text-transform: none;
	padding-top: 8px;
	padding-bottom: 7px;
	display: block;
	color: #6f777b
}

@media ( max-width : 640px) {
	.heading-xlarge .heading-secondary {
		font-size: 20px;
		line-height: 1.11111
	}
}

@media ( min-width : 641px) {
	.heading-xlarge .heading-secondary {
		padding-top: 4px;
		padding-bottom: 6px
	}
}

.heading-large {
	font-family: "nta", Arial, sans-serif;
	font-size: 36px;
	line-height: 1.11111;
	font-weight: 700;
	text-transform: none;
	margin-top: 1.04167em;
	margin-bottom: 0.41667em
}

@media ( max-width : 640px) {
	.heading-large {
		font-size: 24px;
		line-height: 1.04167
	}
}

@media ( min-width : 641px) {
	.heading-large {
		margin-top: 1.25em;
		margin-bottom: 0.55556em
	}
}

.heading-large .heading-secondary {
	font-family: "nta", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none;
	padding-top: 9px;
	padding-bottom: 6px;
	display: block;
	color: #6f777b
}

@media ( max-width : 640px) {
	.heading-large .heading-secondary {
		font-size: 18px;
		line-height: 1.2
	}
}

@media ( min-width : 641px) {
	.heading-large .heading-secondary {
		padding-top: 6px;
		padding-bottom: 4px
	}
}

.heading-medium {
	font-family: "nta", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.25;
	font-weight: 700;
	text-transform: none;
	margin-top: 1.25em;
	margin-bottom: 0.5em
}

@media ( max-width : 640px) {
	.heading-medium {
		font-size: 18px;
		line-height: 1.2
	}
}

@media ( min-width : 641px) {
	.heading-medium {
		margin-top: 1.875em;
		margin-bottom: 0.83333em
	}
}

.heading-small {
	font-family: "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.31579;
	font-weight: 700;
	text-transform: none;
	margin-top: 0.625em;
	margin-bottom: 0.3125em
}

@media ( max-width : 640px) {
	.heading-small {
		font-size: 16px;
		line-height: 1.25
	}
}

@media ( min-width : 641px) {
	.heading-small {
		margin-top: 1.05263em
	}
}

p {
	margin-top: 0.3125em;
	margin-bottom: 1.25em
}

@media ( min-width : 641px) {
	p {
		margin-top: 0.26316em;
		margin-bottom: 1.05263em
	}
}

.lede {
	font-family: "nta", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none
}

@media ( max-width : 640px) {
	.lede {
		font-size: 18px;
		line-height: 1.2
	}
}

.text {
	max-width: 30em
}

.text-secondary {
	color: #6f777b
}

.link {
	color: #005ea5;
	text-decoration: underline
}

.link:visited {
	color: #4c2c92
}

.link:hover {
	color: #2e8aca
}

.link:active {
	color: #005ea5
}

pre, code {
	font-size: 13px;
	line-height: 19px;
	color: #0b0c0c;
	background-color: #f8f8f8;
	border: 1px solid #bfc1c3;
	padding: 3px 7px
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

@font-face {
	font-family: GDS-Logo;
	src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"),
		local("Helvetica")
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

.example-highlight-grid .grid-row {
	background: #bfc1c3
}

.example-highlight-grid .column-highlight {
	background: #dee0e2;
	width: 100%
}

.example-back-link {
	display: -moz-inline-stack;
	display: inline-block;
	margin-top: 30px
}

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0
}

.js-enabled .js-hidden {
	display: none
}

@font-face {
	font-family: GDS-Logo;
	src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"),
		local("Helvetica")
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

#page-container {
	max-width: 960px;
	margin: 0 15px;
	display: block;
	padding-bottom: 30px
}

@media ( min-width : 641px) {
	#page-container {
		margin: 0 30px
	}
}

@media ( min-width : 1020px) {
	#page-container {
		margin: 0 auto
	}
}

#page-container:after {
	content: "";
	display: block;
	clear: both
}

@media ( min-width : 769px) {
	#page-container {
		padding-bottom: 90px
	}
}

.phase-banner {
	padding: 10px 0 8px 0;
	border-bottom: 1px solid #bfc1c3
}

@media ( min-width : 641px) {
	.phase-banner {
		padding-bottom: 10px
	}
}

.phase-banner p {
	margin: 0;
	color: #000;
	font-family: "nta", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none
}

@media ( max-width : 640px) {
	.phase-banner p {
		font-size: 14px;
		line-height: 1.14286
	}
}

.phase-banner .phase-tag {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	margin: 0 8px 0 0;
	padding: 2px 5px 0;
	font-family: "nta", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 700;
	text-transform: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
	background-color: #d53880
}

@media ( min-width : 641px) {
	.phase-banner .phase-tag {
		vertical-align: baseline
	}
}

@media ( max-width : 640px) {
	.phase-banner .phase-tag {
		font-size: 14px;
		line-height: 1.14286
	}
}

.phase-banner span {
	display: -moz-inline-stack;
	display: inline-block;
	width: 75%;
	vertical-align: top
}

@media ( min-width : 641px) {
	.phase-banner span {
		width: auto;
		vertical-align: baseline
	}
}

.grid-row {
	margin: 0 -15px
}

.grid-row:after {
	content: "";
	display: block;
	clear: both
}

.column-quarter {
	padding: 0 15px;
	box-sizing: border-box
}

@media ( min-width : 641px) {
	.column-quarter {
		float: left;
		width: 25%
	}
}

.column-half {
	padding: 0 15px;
	box-sizing: border-box
}

@media ( min-width : 641px) {
	.column-half {
		float: left;
		width: 50%
	}
}

.column-third {
	padding: 0 15px;
	box-sizing: border-box
}

@media ( min-width : 641px) {
	.column-third {
		float: left;
		width: 33.33333%
	}
}

.column-two-thirds {
	padding: 0 15px;
	box-sizing: border-box
}

@media ( min-width : 641px) {
	.column-two-thirds {
		float: left;
		width: 66.66667%
	}
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

@font-face {
	font-family: GDS-Logo;
	src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"),
		local("Helvetica")
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

.example-highlight-grid .grid-row {
	background: #bfc1c3
}

.example-highlight-grid .column-highlight {
	background: #dee0e2;
	width: 100%
}

.example-back-link {
	display: -moz-inline-stack;
	display: inline-block;
	margin-top: 30px
}

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0
}

.js-enabled .js-hidden {
	display: none
}

.form-group {
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 15px
}

.form-group:after {
	content: "";
	display: block;
	clear: both
}

@media ( min-width : 641px) {
	.form-group {
		margin-bottom: 30px
	}
}

.form-group-related {
	margin-bottom: 10px
}

@media ( min-width : 641px) {
	.form-group-related {
		margin-bottom: 20px
	}
}

.form-group-compound {
	margin-bottom: 10px
}

fieldset {
	width: 100%;
	float: left;
	clear: both
}

.form-title {
	margin-bottom: 30px
}

@media ( min-width : 641px) {
	.form-title {
		margin-bottom: 45px
	}
}

.form-label {
	font-family: "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none;
	display: block;
	margin-bottom: 5px
}

@media ( max-width : 640px) {
	.form-label {
		font-size: 16px;
		line-height: 1.25
	}
}

.form-label-bold {
	font-family: "nta", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.25;
	font-weight: 700;
	text-transform: none;
	display: block;
	margin-bottom: 0
}

@media ( max-width : 640px) {
	.form-label-bold {
		font-size: 18px;
		line-height: 1.2
	}
}

.form-label-bold .form-hint {
	font-family: "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none
}

@media ( max-width : 640px) {
	.form-label-bold .form-hint {
		font-size: 16px;
		line-height: 1.25
	}
}

.form-block {
	float: left;
	width: 100%
}

.form-block:after {
	content: "";
	display: block;
	clear: both
}

.form-hint {
	display: block;
	color: #6f777b;
	margin-bottom: 5px
}

@media ( min-width : 641px) {
	.form-hint {
		margin-top: 8px
	}
}

.form-control {
	font-family: "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #bfc1c3;
	-webkit-appearance: none;
	border-radius: 0
}

@media ( max-width : 640px) {
	.form-control {
		font-size: 16px;
		line-height: 1.25
	}
}

@media ( min-width : 641px) {
	.form-control {
		width: 50%
	}
}

.form-control-3-4 {
	width: 100%
}

@media ( min-width : 641px) {
	.form-control-3-4 {
		width: 75%
	}
}

.form-control-1-2 {
	width: 100%
}

@media ( min-width : 641px) {
	.form-control-1-2 {
		width: 50%
	}
}

.form-control-1-4 {
	width: 25%
}

.form-control-1-8 {
	width: 12.5%
}

.form-radio {
	display: block;
	margin: 10px 0
}

.form-radio input {
	vertical-align: middle;
	margin: -4px 5px 0 0
}

.form-checkbox {
	display: block;
	margin: 15px 0
}

.form-checkbox input {
	vertical-align: middle;
	margin: -2px 5px 0 0
}

@media ( max-width : 640px) {
	.form .button {
		width: 100%
	}
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

@font-face {
	font-family: GDS-Logo;
	src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"),
		local("Helvetica")
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

.validation-summary {
	border: 3px solid #df3034;
	padding: 15px 30px;
	margin-bottom: 30px
}

.validation-summary ul {
	margin-top: 10px
}

.validation-summary li, .validation-summary p {
	font-family: "nta", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none
}

@media ( max-width : 640px) {
	.validation-summary li, .validation-summary p {
		font-size: 14px;
		line-height: 1.14286
	}
}

.validation-summary p {
	margin-top: 15px;
	margin-bottom: 5px
}

.validation-summary a {
	color: #df3034
}

.validation-summary .heading-small {
	margin-top: 15px
}

.validation-message {
	display: block;
	font-family: "nta", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none;
	color: #df3034
}

@media ( max-width : 640px) {
	.validation-message {
		font-size: 14px;
		line-height: 1.14286
	}
}

.form-date label {
	display: block;
	margin-bottom: 5px
}

.form-date .form-group {
	width: 50px;
	float: left;
	margin-right: 20px;
	margin-bottom: 0;
	clear: none
}

.form-date .form-group-year {
	width: 70px
}

.form-date .form-group input {
	width: 100%
}

.touch .form-date {
	display: none
}

.no-touch .native-date-picker {
	display: none
}

.touch .native-date-picker {
	display: block
}

.touch input[type="date"] {
	min-height: 36px
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

.block-label {
	display: block;
	float: none;
	clear: left;
	position: relative;
	background: #dee0e2;
	border: 1px solid #dee0e2;
	padding: 18px 30px 15px 45px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer
}

@media ( min-width : 641px) {
	.block-label {
		float: left;
		margin-top: 5px;
		margin-bottom: 5px
	}
}

.block-label input {
	position: absolute;
	top: 18px;
	left: 15px;
	cursor: pointer
}

.block-label:hover {
	border-color: #0b0c0c
}

.inline .block-label {
	clear: none;
	margin-right: 15px
}

.js-enabled label.selected {
	background: #fff;
	border-color: #0b0c0c
}

.js-enabled label.focused {
	outline: 3px solid #ffbf47
}

.js-enabled .focused input:focus {
	outline: none
}

@font-face {
	font-family: GDS-Logo;
	src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"),
		local("Helvetica")
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%
}

table th, table td {
	font-family: "nta", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none;
	padding: 0.73684em 1.05263em 0.52632em 0;
	text-align: left;
	color: #0b0c0c;
	border-bottom: 1px solid #bfc1c3
}

@media ( max-width : 640px) {
	table th, table td {
		font-size: 14px;
		line-height: 1.14286
	}
}

table th {
	font-weight: 700
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

@font-face {
	font-family: GDS-Logo;
	src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"),
		local("Helvetica")
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

.button {
	background-color: #00823b;
	position: relative;
	display: -moz-inline-stack;
	display: inline-block;
	padding: 0.3em 0.6em 0.2em 0.6em;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-box-shadow: 0 2px 0 #003518;
	-moz-box-shadow: 0 2px 0 #003518;
	box-shadow: 0 2px 0 #003518;
	font-size: 1em;
	line-height: 1.25;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
	color: #fff;
	margin: 0 15px 15px 0;
	padding: 0.52632em 0.78947em 0.26316em 0.78947em;
	vertical-align: top
}

.button:visited {
	background-color: #00823b
}

.button:hover, .button:focus {
	background-color: #00692f
}

.button:active {
	top: 2px;
	-webkit-box-shadow: 0 0 0 #00823b;
	-moz-box-shadow: 0 0 0 #00823b;
	box-shadow: 0 0 0 #00823b
}

.button.disabled, .button[disabled="disabled"], .button[disabled] {
	zoom: 1;
	filter: alpha(opacity = 50);
	opacity: 0.5
}

.button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover
	{
	cursor: default;
	background-color: #00823b
}

.button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active
	{
	top: 0;
	-webkit-box-shadow: 0 2px 0 #003518;
	-moz-box-shadow: 0 2px 0 #003518;
	box-shadow: 0 2px 0 #003518
}

.button:link, .button:hover, .button:focus, .button:visited {
	color: #fff
}

.button:before {
	content: "";
	height: 110%;
	width: 100%;
	display: block;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0
}

.button:active:before {
	top: -10%;
	height: 120%
}

.button[rel="external"]:after {
	display: none;
	content: none;
	margin-left: 0;
	margin-right: 0
}

.button:focus {
	outline: 3px solid #ffbf47
}

.button[disabled="disabled"] {
	background: #00823b
}

.button[disabled="disabled"]:focus {
	outline: none
}

.button-get-started {
	font-family: "nta", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.25;
	font-weight: 700;
	text-transform: none;
	background-image: url("../images/icons/icon-pointer.png");
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding: 0.36842em 2.15789em 0.21053em 0.84211em
}

@media ( max-width : 640px) {
	.button-get-started {
		font-size: 18px;
		line-height: 1.2
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.button-get-started {
		background-image: url("../images/icons/icon-pointer-2x.png");
		background-size: 30px 19px
	}
}

details {
	display: block
}

details summary {
	display: inline-block;
	color: #005ea5;
	cursor: pointer;
	position: relative;
	margin-bottom: 0.26316em
}

details summary:hover {
	color: #2e8aca
}

details summary:focus {
	outline: 3px solid #ffbf47
}

details .summary {
	text-decoration: underline
}

details .arrow {
	margin-right: 0.35em
}

details .panel-indent {
	margin-top: 0
}

ul, ol {
	list-style-type: none;
	padding: 0
}

.list-bullet {
	list-style-type: disc;
	margin-left: 20px
}

.list-number {
	list-style-type: decimal;
	margin-left: 25px
}

.list-bullet, .list-number {
	margin-top: 5px;
	margin-bottom: 20px
}

.list-bullet li, .list-number li {
	margin-bottom: 5px
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

@font-face {
	font-family: GDS-Logo;
	src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"),
		local("Helvetica")
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

.example-highlight-grid .grid-row {
	background: #bfc1c3
}

.example-highlight-grid .column-highlight {
	background: #dee0e2;
	width: 100%
}

.example-back-link {
	display: -moz-inline-stack;
	display: inline-block;
	margin-top: 30px
}

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0
}

.js-enabled .js-hidden {
	display: none
}

.panel-indent {
	clear: both;
	border-left: 4px solid #bfc1c3;
	padding: 10px 0 10px 15px;
	margin: 30px 15px 45px 0
}

.panel-indent:after {
	content: "";
	display: block;
	clear: both
}

.panel-indent legend {
	margin-top: 0
}

.panel-indent p:only-child, .panel-indent p:last-child {
	margin-bottom: 0
}

.panel-indent .form-group:last-child {
	margin-bottom: 0
}

.icon {
	background-position: 0 0;
	background-repeat: no-repeat
}

.icon-calendar {
	background-image: url("../images/icons/icon-calendar.png");
	width: 27px;
	height: 27px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-calendar {
		background-image: url("../images/icons/icon-calendar-2x.png");
		background-size: 100%
	}
}

.icon-download {
	background-image: url("../images/icons/icon-file-download.png");
	width: 30px;
	height: 39px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-download {
		background-image: url("../images/icons/icon-file-download-2x.png");
		background-size: 100%
	}
}

.icon-important {
	background-image: url("../images/icons/icon-important.png");
	width: 34px;
	height: 34px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-important {
		background-image: url("../images/icons/icon-important-2x.png");
		background-size: 100%
	}
}

.icon-information {
	background-image: url("../images/icons/icon-information.png");
	width: 27px;
	height: 27px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-information {
		background-image: url("../images/icons/icon-information-2x.png");
		background-size: 100%
	}
}

.icon-locator {
	background-image: url("../images/icons/icon-locator.png");
	width: 26px;
	height: 36px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-locator {
		background-image: url("../images/icons/icon-locator-2x.png");
		background-size: 100%
	}
}

.icon-search {
	background-image: url("../images/icons/icon-search.png");
	width: 30px;
	height: 22px;
	background-color: black
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-search {
		background-image: url("../images/icons/icon-search-2x.png");
		background-size: 100%
	}
}

.icon-pointer {
	background-image: url("../images/icons/icon-pointer.png");
	width: 30px;
	height: 19px;
	background-color: black
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-pointer {
		background-image: url("../images/icons/icon-pointer-2x.png");
		background-size: 100%
	}
}

.icon-pointer-black {
	background-image: url("../images/icons/icon-pointer-black.png");
	width: 23px;
	height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-pointer-black {
		background-image: url("../images/icons/icon-pointer-black-2x.png");
		background-size: 100%
	}
}

.icon-step-1 {
	background-image: url("../images/icons/icon-steps/icon-step-1.png");
	width: 23px;
	height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-step-1 {
		background-image: url("../images/icons/icon-steps/icon-step-1-2x.png");
		background-size: 100%
	}
}

.icon-step-2 {
	background-image: url("../images/icons/icon-steps/icon-step-2.png");
	width: 23px;
	height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-step-2 {
		background-image: url("../images/icons/icon-steps/icon-step-2-2x.png");
		background-size: 100%
	}
}

.icon-step-3 {
	background-image: url("../images/icons/icon-steps/icon-step-3.png");
	width: 23px;
	height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-step-3 {
		background-image: url("../images/icons/icon-steps/icon-step-3-2x.png");
		background-size: 100%
	}
}

.icon-step-4 {
	background-image: url("../images/icons/icon-steps/icon-step-4.png");
	width: 23px;
	height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-step-4 {
		background-image: url("../images/icons/icon-steps/icon-step-4-2x.png");
		background-size: 100%
	}
}

.icon-step-5 {
	background-image: url("../images/icons/icon-steps/icon-step-5.png");
	width: 23px;
	height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-step-5 {
		background-image: url("../images/icons/icon-steps/icon-step-5-2x.png");
		background-size: 100%
	}
}

.icon-step-6 {
	background-image: url("../images/icons/icon-steps/icon-step-6.png");
	width: 23px;
	height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-step-6 {
		background-image: url("../images/icons/icon-steps/icon-step-6-2x.png");
		background-size: 100%
	}
}

.icon-step-7 {
	background-image: url("../images/icons/icon-steps/icon-step-7.png");
	width: 23px;
	height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-step-7 {
		background-image: url("../images/icons/icon-steps/icon-step-7-2x.png");
		background-size: 100%
	}
}

.icon-step-8 {
	background-image: url("../images/icons/icon-steps/icon-step-8.png");
	width: 23px;
	height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-step-8 {
		background-image: url("../images/icons/icon-steps/icon-step-8-2x.png");
		background-size: 100%
	}
}

.icon-step-9 {
	background-image: url("../images/icons/icon-steps/icon-step-9.png");
	width: 23px;
	height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-step-9 {
		background-image: url("../images/icons/icon-steps/icon-step-9-2x.png");
		background-size: 100%
	}
}

.icon-step-10 {
	background-image: url("../images/icons/icon-steps/icon-step-10.png");
	width: 23px;
	height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-step-10 {
		background-image: url("../images/icons/icon-steps/icon-step-10-2x.png");
		background-size: 100%
	}
}

.icon-step-11 {
	background-image: url("../images/icons/icon-steps/icon-step-11.png");
	width: 23px;
	height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-step-11 {
		background-image: url("../images/icons/icon-steps/icon-step-11-2x.png");
		background-size: 100%
	}
}

.icon-step-12 {
	background-image: url("../images/icons/icon-steps/icon-step-12.png");
	width: 23px;
	height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-step-12 {
		background-image: url("../images/icons/icon-steps/icon-step-12-2x.png");
		background-size: 100%
	}
}

.icon-step-13 {
	background-image: url("../images/icons/icon-steps/icon-step-13.png");
	width: 23px;
	height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and
		(min--moz-device-pixel-ratio: 2) , only screen and
		(-o-min-device-pixel-ratio: 20 / 10) , only screen and
		(min-device-pixel-ratio: 2) , only screen and (min-resolution: 192dpi)
		, only screen and (min-resolution: 2dppx) {
	.icon-step-13 {
		background-image: url("../images/icons/icon-steps/icon-step-13-2x.png");
		background-size: 100%
	}
}

@font-face {
	font-family: GDS-Logo;
	src: local(HelveticaNeue), local("Helvetica Neue"), local(Arial),
		local(Helvetica)
}

html {
	font-size: 62.5%
}

main>header {
	position: relative
}

main>header h1 {
	font-family: nta, Arial, sans-serif;
	font-size: 16pt;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none;
	border-bottom: solid 1pt #000;
	padding-bottom: 6pt;
	width: 80%
}

main>header h1:after {
	content: " from GOV.UK"
}

main>header p {
	font-family: nta, Arial, sans-serif;
	font-size: 11pt;
	line-height: 1.42857;
	font-weight: 400;
	border-bottom: solid 1pt #000;
	bottom: -11pt;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 6pt;
	right: 0;
	width: 15%
}

article {
	margin-bottom: 1cm;
	width: 80%
}

article header h1, article h2, article h3, article h4, article h5,
	article h6 {
	font-weight: 700
}

article h2, article h3, article h4, article p, article ul {
	orphans: 3;
	widows: 3
}

article h2, article h3, article h4, article .info-notice {
	page-break-after: avoid
}

article header h1 {
	font-family: nta, Arial, sans-serif;
	font-size: 14pt;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none;
	border-bottom: 1pt solid #7f7f7f;
	padding-top: 7pt;
	padding-bottom: 7pt
}

article h2 {
	font-family: nta, Arial, sans-serif;
	font-size: 14pt;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none;
	padding-top: 7pt
}

article h3 {
	font-family: nta, Arial, sans-serif;
	font-size: 12pt;
	line-height: 1.25;
	font-weight: 300;
	text-transform: none
}

article ul, article ol {
	font-family: nta, Arial, sans-serif;
	font-size: 11pt;
	line-height: 1.42857;
	font-weight: 400;
	text-transform: none;
	padding-left: 13pt;
	list-style-image: none;
	list-style-type: disc
}

article li {
	line-height: 1.5em
}

article li p {
	margin: 0
}

article table {
	border: 1pt solid #7d7d7d;
	border-collapse: collapse;
	width: 100%
}

article table thead {
	display: table-header-group
}

article table th, article table td {
	border: 1pt solid #7d7d7d;
	text-align: left;
	padding: .25em .5em
}

article table td:nth-child(n+2) {
	text-align: right
}

article table caption {
	font-family: nta, Arial, sans-serif;
	font-size: 14pt;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none;
	margin: 14pt 0
}

article select {
	background: #FFF
}

article .contact, article .info-notice, article .help-notice {
	border: 1pt solid #7d7d7d;
	margin: 14pt 0;
	padding: 2pt
}

article .info-notice:before, article .help-notice:before {
	content: "!";
	float: left;
	font-family: nta, Arial, sans-serif;
	font-size: 18pt;
	line-height: 1.04167;
	text-transform: none;
	font-weight: 700;
	margin: 10pt 0 0 6pt
}

article .info-notice p, article .help-notice p {
	margin-left: 22pt
}

article .highlight-answer p, article .highlighted-event p {
	font-family: nta, Arial, sans-serif;
	font-size: 14pt;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none
}

article .highlight-answer p em, article .highlighted-event p em {
	font-style: normal;
	font-weight: 700
}

.modified-date {
	color: #e1e1e1;
	font-family: nta, Arial, sans-serif;
	font-size: 11pt;
	line-height: 1.42857;
	font-weight: 400;
	text-transform: none
}

.modified-date:after {
	content: "\00A9  Crown Copyright";
	float: right
}

body #global-user-location, body .related-positioning, header.page-header div h1 span,
	body .actions, body nav, #local-locator-form, #location-loading,
	#get-started, .finding_location, .found_location, .loading_location,
	.location_error, #global-browser-prompt, #user-satisfaction-survey,
	.report-a-problem-toggle, .report-a-problem-container, .show-all-parts,
	.skip-to-related {
	display: none !important
}

article h4, article p {
	font-family: nta, Arial, sans-serif;
	font-size: 11pt;
	line-height: 1.42857;
	font-weight: 400;
	text-transform: none
}

.print-link, .player-container, .video-transcript-toggle, #global-header #search,
	#global-header .search-toggle, .done-questions .start-again,
	.done-questions .question-number, .done-questions li.done .undo {
	display: none
}

@media ( max-width : 640px) {
	main>header h1 {
		font-size: 20px;
		line-height: 1.2
	}
	article h3 {
		font-size: 14px;
		line-height: 1.14286
	}
	article .info-notice:before, article .help-notice:before {
		font-size: 32px;
		line-height: 1.09375
	}
	main>header p, article h4, article p, article ul, article ol,
		.modified-date {
		font-size: 12px;
		line-height: 1.25
	}
	article header h1, article h2, article table caption, article .highlight-answer p,
		article .highlighted-event p {
		font-size: 16px;
		line-height: 1.25
	}
}

input[type="button"], .footer-wrapper, #apex-dev-toolbar, .breadcrumbs,
	#wizardHeader, .errorCell, #global-breadcrumb, #logo, .header-wrapper,
	#phase-notice, #phase-notice p, #wizardButtons, .validation-summary,
	#system-notice, .footerRegion, .buttonDiv {
	display: none
}

#wrapper {
	border-bottom-width: 0
}

.inner {
	width: 100%
}

.report table th, .report table td {
	padding-right: 0.5em
}

.report.vertical table th, .report.vertical table td {
	text-align: left
}

ul.tabs li a, a.export {
	display: none !important
}

nav.activity-navigation, ul.tabs, ul.tabs li a.current {
	display: block !important;
	text-decoration: none
}

.wms105519 {
	display: none
}


main{
    padding-left: 25px;		
}